{% extends 'base.html' %}}

{% block main_content %}
<a href ="{% url 'currency:source-create' %}">Create Source</a>
<br>
<table>
    <tr>
        <th>Source URL</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    {% for source in source_list %}
    <tr>
        <td>{{source.source_url}}</td>
        <td>{{source.name}}</td>
        <td><a href="{% url 'currency:source-details' source.pk %}">Details</a></td>
        <td><a href="{% url 'currency:source-update' source.pk %}">Update</a></td>
        <td><a href="{% url 'currency:source-delete' source.pk %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}